In [1]:
import os

# src = 'data_4'
src = ''
html_lists = os.listdir(src)
html_lists[:5]

['61021596.html',
 '61147191.html',
 '76338079.html',
 '83122704.html',
 '83640913.html']

In [77]:
del_list = ['images', 'videos', 'ad_id', 'date', 'account_id', 'account_oid', 'account_name',
            'category_name', 'area_name', 'region_name', 'company_ad', 'price_string', 'type',
            'number_of_images', 'avatar', 'ward_name', 'pty_map', 'streetnumber_display',
            'contain_videos', 'phone', 'type_name', 'reviewer_image', 'reviewer_nickname',
            'thumbnail_image', 'address', 'owner','protection_entitlement', 'unitnumber_display',
            'has_video']

In [78]:
from bs4 import BeautifulSoup
import json
import codecs
import time

item = {}
col_list = set()

for file in html_lists:
    f=codecs.open(src + '/' + file, 'r', 'utf-8')
    soup = BeautifulSoup(f.read(), "html.parser")
    f.close()

    out = soup.find(id="__NEXT_DATA__")
    data = json.loads(out.string)
    indt = data['props']['initialState']['adView']['adInfo']
    del indt['headers']
    del indt['parameters']
    del indt['ad_params']
    for key in del_list:
        try:
            del indt['ad'][key]
        except:()
    
    id = str(indt['ad'].pop('list_id'))
    item[id] = indt['ad']
    item[id]['list_time'] = time.strftime("%d %B %Y", time.localtime(item[id]['list_time']/1000))

    col_list.update(item[id])

In [79]:
len(item)

5546

In [83]:
len(col_list)

33

In [ ]:
import json

with open('raw_data/raw_data_4.json', 'w', encoding='utf-8') as f:
    json.dump(item, f)

In [95]:
# import json

# with open('raw_data_4.json', encoding='utf-8') as f:
#     dat = json.load(f)

In [107]:
import numpy as np

pre_data = {}

for col in col_list:
    pre_data[col] = {}

import numpy as np

for key in item:
    for col in col_list:
        try:
            pre_data[col][key] = item[key][col]
        except:
            pre_data[col][key] = np.nan

In [117]:
import pandas as pd

df = pd.DataFrame(pre_data)

df

,area_v2,width,area,longitude,region,property_back_condition,shop_alias,unitnumber,furnishing_sell,street_number,...,rooms,project_oid,category,shop,price,latitude,house_type,street_id,ward,floors
61021596,12121,NaN,121,105.47380,12,1.0,NaN,HAI0912533345,3.0,NaN,...,3,NaN,1020,NaN,1770000000,21.16054,3,2331.0,203.0,3.0
61147191,12081,5.0,81,105.88171,12,1.0,NaN,HAI0912533345,3.0,0912533345 xóm 1 Đông Dư,...,3,NaN,1020,NaN,1740000000,20.84320,3,0.0,54.0,3.0
76338079,12086,4.0,86,105.74743,12,1.0,NaN,NaN,3.0,NaN,...,3,NaN,1020,NaN,1400000000,20.97548,3,1937.0,272.0,3.0
83122704,12086,5.0,86,105.73317,12,1.0,NaN,NaN,3.0,NaN,...,3,NaN,1020,NaN,1760000000,20.95799,3,0.0,268.0,3.0
83640913,12076,4.2,76,105.85366,12,NaN,BtqRpSXym8DHeSJ,NaN,3.0,NaN,...,5,NaN,1020,"{'alias': 'BtqRpSXym8DHeSJ', 'status': 'accept...",43000000000,21.01610,1,580.0,88.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89841473,12080,3.6,80,105.71108,12,NaN,NaN,NaN,2.0,NaN,...,4,NaN,1020,NaN,3100000000,21.04833,3,950.0,109.0,4.0
89841550,12075,5.8,75,105.83640,12,1.0,LOmUlEG0Zjp7SHx,NaN,2.0,NaN,...,4,NaN,1020,"{'alias': 'LOmUlEG0Zjp7SHx', 'status': 'accept...",3800000000,21.02062,3,343.0,74.0,4.0
89841869,12081,4.0,81,105.87014,12,1.0,NaN,NaN,2.0,NaN,...,4,NaN,1020,NaN,5900000000,21.05729,3,1282.0,42.0,NaN
89841939,12080,NaN,80,105.84957,12,NaN,NaN,NaN,NaN,NaN,...,2,NaN,1020,NaN,2670000000,20.99316,3,1030.0,NaN,NaN
89841941,12075,4.0,75,105.81657,12,NaN,NaN,NaN,NaN,NaN,...,4,NaN,1020,NaN,3800000000,21.01137,3,477.0,70.0,NaN

In [115]:
df.to_csv('pre_data/pre_data_4.csv', index_label = 'id')

In [116]:
te = pd.read_csv('pre_data/pre_data_4.csv')
te

,id,area_v2,width,area,longitude,region,property_back_condition,shop_alias,unitnumber,furnishing_sell,...,rooms,project_oid,category,shop,price,latitude,house_type,street_id,ward,floors
0,61021596,12121,NaN,121,105.47380,12,1.0,NaN,HAI0912533345,3.0,...,3,NaN,1020,NaN,1770000000,21.16054,3,2331.0,203.0,3.0
1,61147191,12081,5.0,81,105.88171,12,1.0,NaN,HAI0912533345,3.0,...,3,NaN,1020,NaN,1740000000,20.84320,3,0.0,54.0,3.0
2,76338079,12086,4.0,86,105.74743,12,1.0,NaN,NaN,3.0,...,3,NaN,1020,NaN,1400000000,20.97548,3,1937.0,272.0,3.0
3,83122704,12086,5.0,86,105.73317,12,1.0,NaN,NaN,3.0,...,3,NaN,1020,NaN,1760000000,20.95799,3,0.0,268.0,3.0
4,83640913,12076,4.2,76,105.85366,12,NaN,BtqRpSXym8DHeSJ,NaN,3.0,...,5,NaN,1020,"{'alias': 'BtqRpSXym8DHeSJ', 'status': 'accept...",43000000000,21.01610,1,580.0,88.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,89841473,12080,3.6,80,105.71108,12,NaN,NaN,NaN,2.0,...,4,NaN,1020,NaN,3100000000,21.04833,3,950.0,109.0,4.0
5542,89841550,12075,5.8,75,105.83640,12,1.0,LOmUlEG0Zjp7SHx,NaN,2.0,...,4,NaN,1020,"{'alias': 'LOmUlEG0Zjp7SHx', 'status': 'accept...",3800000000,21.02062,3,343.0,74.0,4.0
5543,89841869,12081,4.0,81,105.87014,12,1.0,NaN,NaN,2.0,...,4,NaN,1020,NaN,5900000000,21.05729,3,1282.0,42.0,NaN
5544,89841939,12080,NaN,80,105.84957,12,NaN,NaN,NaN,NaN,...,2,NaN,1020,NaN,2670000000,20.99316,3,1030.0,NaN,NaN
5545,89841941,12075,4.0,75,105.81657,12,NaN,NaN,NaN,NaN,...,4,NaN,1020,NaN,3800000000,21.01137,3,477.0,70.0,NaN